/*.amplified-tags:hover {
  text-decoration: underline;
}*/

.amplified-tags {
  line-height: 1.3em;
}

.polarity-positive {
  color: green;
}

.polarity-neutral {
  color: blue;
}

.polarity-negative {
  color: maroon;
}

.guidance-a-lot {
  font-size: 24px;
  font-weight: bold;
}

.guidance-to-some-extent {
  font-size: 18px;
}

.guidance-not-at-all {
  font-size: 12px;
}